services:
  postgres-standalone:
    image: "postgis/postgis:latest"
    container_name: postgres-standalone
    platform: linux/amd64
    environment:
      - "POSTGRES_DB=vaporsafe"
      - "POSTGRES_PASSWORD=vaporsafe"
      - "POSTGRES_USER=vaporsafe"
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U vaporsafe -d vaporsafe"]
      interval: 5s
      timeout: 5s
      retries: 5

  minio-standalone:
    image: minio/minio:latest
    container_name: minio-standalone
    ports:
      - "9000:9000" # S3 API
      - "9001:9001" # Web UI
    environment:
      MINIO_ROOT_USER: vaporsafe
      MINIO_ROOT_PASSWORD: vaporsafe
    entrypoint: >
      /bin/sh -c "
        mkdir -p /data/vaporsafe &&
        exec minio server /data --console-address :9001
      "
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/ready"]
      interval: 30s
      timeout: 20s
      retries: 3
      start_period: 10s

  backend-standalone:
    build:
      context: .
      dockerfile: backend/Dockerfile
    container_name: backend-standalone
    ports:
      - "8080:8080"
    environment:
      - APP_BASE_API_URL=http://localhost:8080
      - APP_BASE_UI_URL=http://localhost:3000
      - APP_MAIL_FROM=vaporsafe@kfdlabs.com
      - APP_MAIL_NAME=VaporSafe
      - AWS_ACCESS_KEY=vaporsafe
      - AWS_SECRET_KEY=vaporsafe
      - AWS_REGION=us-east-1
      - AWS_ENDPOINT=http://minio-standalone:9000
      - AWS_S3_PRESIGNED_URL_ENDPOINT=http://localhost:9000
      - AWS_S3_BUCKET=vaporsafe
      - DB_HOST=postgres-standalone
      - DB_PORT=5432
      - DB_NAME=vaporsafe
      - DB_USERNAME=vaporsafe
      - DB_PASSWORD=vaporsafe
      - REDIS_HOST=redis-standalone
      - REDIS_PORT=6379
      - DOCKER_COMPOSE_ENABLED=false
      - SMTP_HOST=smtp.purelymail.com
      - SMTP_PORT=587
      - SMTP_USERNAME=vaporsafe@kfdlabs.com
      - SMTP_PASSWORD=hockiv-kujkA3-bennoj
      - GOOGLE_CLIENT_ID=
      - GOOGLE_CLIENT_SECRET=
      - SPRING_PROFILES_ACTIVE=standalone
      - APP_RATE_LIMIT_ENABLED=true
      - APP_RATE_LIMIT_RPS=15
      - APP_LINK_EXPIRATION_MINUTES=60
      - APP_ATTACHMENT_EXPIRATION_DAYS=7
      - DB_MAX_POOL_SIZE=50
      - DB_IDLE_TIMEOUT=300000
      - DB_MIN_IDLE=10
      - DB_CONNECTION_TIMEOUT=20000
      - JPA_SHOW_SQL=false
      - LIQUIBASE_ENABLED=true
      - FILE_UPLOAD_MAX_SIZE=10MB
      - JWT_SECRET=mySecretKeyThatShouldBeAtLeast256BitsLongForHS256Algorithm
      - JWT_ACCESS_TOKEN_VALIDITY=3600000
      - JWT_REFRESH_TOKEN_VALIDITY=86400000
      - ELASTIC_METRICS_ENABLED=false
      - API_KEYS_SECRET=LocalApiKeySecretForDev123456789
    depends_on:
      postgres-standalone:
        condition: service_healthy
      minio-standalone:
        condition: service_healthy
